* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1600px;
    padding-bottom: 1px;
    margin: 0 auto;
    background-color: rgb(28, 27, 27);
}

.top {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.top input {
    width: 100%;
    height: 50px;
    color: black;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.top input:focus {
    border: 4px solid cornflowerblue;
}

.top .hunder {
    width: 70%;
}

.top label {
    font-size: 30px;
}

.fifth {
    padding-top: 15px;
    display: flex;
    gap: 20px;
}

#notF {
    color: red;
    position: relative;
    padding: 50px 0px 20px 0px;
    left: 118%;
}

#submit:focus {
    border: none;
    color: white;
    background-color: cornflowerblue;
}

#reset:focus {
    border: none;
    color: white;
    background-color: red;
}

.button {
    cursor: pointer;
    user-select: none;
    width: 50%;
    margin-top: 15px;
    padding: 10px 0px;
    font-size: 28px;
    border-radius: 10px;
    color: black;
    border: none;
    outline: none;
}

label {
    user-select: none;
}


.footer {
    width: 100%;
    padding-top: 100px;
}

.generalTable {
    width: 100%;
    font-size: 30px;
    text-align: center;
    /* border: 2px solid white; */
}

#delete {
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
    background-color: red;
    border: none;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

#edit {
    padding: 8px 17px;
    color: black;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

/* Media 925px -------------- */

@media (max-width: 925px) {
    .top input {
        font-size: 20px;
    }

    .top label {
        font-size: 22px;
    }

    .button {
        font-size: 20px;
    }

    .generalTable {
        font-size: 20px;
    }

    #delete {
        font-size: 18px;
    }

    #edit {
        font-size: 18px;
    }
}

/* Media 425px -------------- */

@media (max-width: 925px) {
    .top input {
        font-size: 15px;
    }

    .top label {
        font-size: 15px;
    }

    .button {
        font-size: 15px;
    }

    .generalTable {
        font-size: 10px;
    }

    #delete {
        font-size: 8px;
        padding: 5px 10px;
    }

    #edit {
        font-size: 8px;
        padding: 5px 10px;
    }
}

/* Media 425px -------------- */

@media (max-width: 405px) {

    #delete {
        font-size: 8px;
        padding: 3px 5px;
    }

    #edit {
        font-size: 8px;
        padding: 3px 5px;
    }
}

/* Media 385px -------------- */

@media (max-width: 385px) {

    #delete {
        font-size: 5px;
        padding: 4px;
    }

    #edit {
        font-size: 5px;
        padding: 4px;
    }
}